SQL_URL=
GOOGLE_API_KEY=
postgresql://userdb_1mjh_user:NvanoiLEhzgZr3Ayk4UOaftq8qQ0YAs9@dpg-d6k6o894tr6s73bmckjg-a.oregon-postgres.render.com/userdb_1mjh
MODEL_NAME=
MAILTRAP_USER=
MAILTRAP_PASS=
SENDER_EMAIL=
MAILTRAP_HOST=
MAILTRAP_PORT=